.counter-container{
    background-color: brown;
    text-decoration: blue;
    text-align: center;
    border: 1px solid hsl(25,69%,69%);
    margin: 5px;
    padding: 5px;
    border-radius: 8px;

}